.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba($color-black, .8);
    //        background-color: red;
    z-index: 9999;


    &__content {
        @include absCenter;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border: 3px;
        overflow: hidden;
        /* To make the same height */
        display: table;
    }

    &__left {
        /* To make the same height */
        width: 33.333333% ;
        display: table-cell;
    }

    &__right {
        /* To make the same height */
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

    }


    &__img {

        display: block;
        width: 100%;
        
        
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        /* creating 2 columns for text */
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -o-column-count: 2;
        /*of course the GAP!*/
        column-gap: 4rem;
        -webkit-column-gap: 4rem;
        -moz-column-gap: 4rem;
        -o-column-gap: 4rem;

        column-rule: 1px solid $color-gray-light-2; 
        -webkit-column-rule: 1px solid $color-gray-light-2; 
        -moz-column-rule: 1px solid $color-gray-light-2; 
        -o-column-rule: 1px solid $color-gray-light-2; 

        /*
        para magkaron ng dash don sa dulo - 
        none = default | 
        for this to work we need to specify the HTML tag with attirbute
        lang=en
        */
        -webkit-hyphens: auto;
        -o-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        
 

    }



}