.header {
	background-color: $color-grey-dark-1;


	// col-end 6, it will end in the 6th column
	// because there are 8 columns
	// check the grid-template-column for reference
	grid-column: full-start / col-end 6;


	background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpeg);
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;



	&__logo {
		height: 3rem;
	}

	&__seenon-text {

	}

	&__seenon-logos {
		
		img {
			height: 2.5rem;
		}
	}












}