*,
*::after,
*::before {
  /* Global reset while following inheritance */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*
    100% is equal to 16px - but we only want it 10px 
    so the computation 10/16 = .625 * 100%
    simple but very powerful on media-querries
    - this will allow user to zoom in page automatically
    - not only to change the font size but also to zoom in on the page
    a widely use technique CSS Dev Community
    but not supported below IE 9

    Always put the bigger media querries before the smaller
        - if the is only complicated
    */
  font-size: 62.5%; // 1 rem = 10px/16px = 62.5%


  @include respond(tab-land) { // width < 1200
    font-size: 56.25%; // 1 rem = 9px, 9/16 = 50%
  }
  @include respond(tab-port) { // width < 900
    font-size: 50%; //1 rem = 8px, 8/16 = 50% 
  }

  @include respond(big-desktop) { // width > 1800
    font-size: 75%; // 1rem  = 12, 12/16
  }
}

/*
Import! this will be inherited to their child elements
*/
body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) { // width < 900
    background-color: red;
     padding: 0 !important;

  }



}
